@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #6A0DAD, #9B59B6, #9a9ac3);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.titulo {
    text-align: center;
    margin-bottom: 20px;
    color: #4b2e83;
    font-size: 32px;
}

.container {
    background: #fff;
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #6a0dad;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #4b2e83;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"] {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #6a0dad;
    outline: none;
    box-shadow: 0 0 5px rgba(106, 13, 173, 0.3);
}

button {
    width: 100%;
    padding: 12px;
    background: #6a0dad;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #4b2e83;
}

p {
    text-align: center;
    margin-top: 10px;
    color: #4b2e83;
}

a {
    color: #6a0dad;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.esqueceu-senha {
    color: #6A0DAD;
    text-decoration: none;
    font-size: 14px;
}

.esqueceu-senha:hover {
    text-decoration: underline;
}

