@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #6A0DAD, #9B59B6, #E6E6FA);
    align-items: center;
    min-height: 100vh;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}  

.chat-container {
    width: 450px;
    max-width: 80%;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-header {
    display: flex;
    align-items: center;
    padding: 15px;
    background: #6A0DAD;
    color: white;
}

.chat-header img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}
.chat-header span {
    font-size: 18px;
    font-weight: bold;
    margin-left: 8px;
}

.chat-messages {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    background: #f9f9f9;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    max-width: 70%;
    word-wrap: break-word;
}

.sent {
    background: #6A0DAD;
    color: white;
    margin-left: auto;
}

.received {
    background: #eee;
    color: #333;
    margin-right: auto;
}

.chat-input {
    display: flex;
    border-top: 1px solid #ddd;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
}

.chat-input button {
    background: #6A0DAD;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.chat-input button:hover {
    background: #9B59B6;
}

#btn-enviar {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    gap: 8px;
}

.back-btn-container {
    position: absolute;
    margin-top: 100px;
    left: 39%;
    transform: translateX(-50%);
    z-index: 10;
}

.back-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: #6A0DAD;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 8px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transition: background 0.2s, transform 0.2s;
}

.back-btn i {
    font-size: 18px;
}

.back-btn:hover {
    background: #9B59B6;
    transform: translateY(-2px);
}

