@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main .container_post {
    background-color: ;
    box-shadow: 0 0 10px #282828aa;
    padding: 20px;
    width: 50%;
    border-radius: 20px;
}

.post .titulo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.post .titulo p {
    font-weight: 600;
}

.post .titulo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: green;
}

.post .imagem {
    margin-top: 5px;
}

.post .imagem img {
    width: 100%;
    border-radius: 5px;
}

.post .interacoes .coracao i {
    font-size: 25px;
    cursor: pointer;
}

.post .interacoes .legenda {
    display: flex;
    gap: 20px;
}

.post .interacoes .legenda h1 {
    font-size: 15px;
}