@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    background: linear-gradient(#f8f2fc);
    box-shadow: 0 0 10px #282828aa;
    padding: 8px 20px;
    width: 100%;
}

#paginas{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo img {
    width: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
}

nav ul li a {
    color: #6A0DAD;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    margin: 0 15px;
}

nav ul li a:hover {
    color: #2c0548;
}

#foto-perfil{
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: none;
}

/* Menu hambúrguer */
.menu-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #6A0DAD;
}

/* Responsividade */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    #nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        background: #fff;
        flex-direction: column;
        align-items: center;
        display: none;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        z-index: 999;
    }

    #nav-links.active {
        display: flex;
    }

    nav ul li {
        margin: 15px 0;
    }
}
